body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
    background-color: #3d3b3b;
    color: white;
}
@media (max-width: 600px) {
    body *{
        display: none;
    }
    body::before{
        content: "This website does not work in mobile, please open it on a computer.";
        text-align: center;
        position: absolute;
        margin: 10px;
    }
}
button{
    padding: 10px 30px;
    margin: 10px;
    background-color: rgb(29, 160, 29);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: .5em;
    cursor: pointer;
}
.button-container{
    display: flex;
    flex-direction: column;
}
canvas{
    border: 1px solid #8f8e8e;
    border-radius: 10px;
    width: clamp(300px, 100%, 1200px)
}
.tips{
    font-size: 0.4em;
    margin: 10px;
}